<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Counter</title>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{session['count']}} time(s)</p>
        <div class="buttons">
            <a href="plus_one" class=button>Click</a>
            <a href="reset" class=button>Reset</a>
        </div>
    </div>
</body>

</html>
