<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/user" method="POST">
        <label type="text" for="username">Username: </label>
        <input type="text" name = "username" id = "username">
        <label type="text" for="email">Email: </label>
        <input type="text" name = "email" id = "email">
        <label for="age">Age: </label>
        <input name = "age" id = "age">
        <label for="country">Country: </label>
        <input type="text" name = "country" id = "country">
        <input type="submit" value="Add User">
    </form>
</body>
</html>
