/*This is the most CSS I've ever done*/

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;

}
:root {
	--secondary-color: rgb(255, 255, 255);
	--primary-color: rgba(21, 255, 0, 0.079);
}
@keyframes move {
	100% {
		transform: translate3d(0, 0, 1px) rotate(360deg);
	}
}

.homeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	font-size: 35px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}
.putShadowHere{
	color: white;
	text-decoration: underline;
	text-shadow: 2px 2px 10px rgba(189, 0, 195, 0.627), -2px -2px 10px rgba(0, 238, 255, 0.66);
	font-style: italic;
}
.homeTitle {
	color: white;
	opacity: 0.9;
	text-shadow: -5px 2px 12px rgba(0, 255, 247, 0.584),
		5px -2px 20px rgba(213, 24, 194, 0.528);
	font-family: "Brush Script MT", cursive;

}
table {
color: black;
	font-size: 24px;
	border-collapse: separate;
	border-spacing: 0;
	border: 2px solid var(--secondary-color);
	border-radius: 10px;
	background-color:var(--primary-color);
	overflow: hidden;
	box-shadow: -10px 4px 20px rgba(0, 255, 247, 0.227),
		10px -4px 20px rgba(213, 24, 194, 0.2);
	margin: 20px auto;
	opacity: 0.85;
}

table tbody tr td {
	color: black;
	padding: 8px 20px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: var(--secondary-color);

	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
.tdTextShadow{
	text-shadow: -1px 1px 8px rgb(0, 255, 247),
	1px -1px 8px rgb(213, 24, 194);
}
/* .time{
} */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.form {
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--primary-color);
	opacity: 0.91;
	box-shadow: -10px 4px 50px rgba(0, 255, 247, 0.5),
		10px -4px 50px rgba(213, 24, 194, 0.472);
	width: 100%;
	max-width: 400px;
}

.label {
	margin-top: 10px;
	font-weight: bold;
}

.input,
.form input[type="checkbox"] {
	margin: 5px 0 15px;
	padding: 10px;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	width: 100%;
}

.form input[type="checkbox"] {
	width: auto;
}
.homeContainer p {
	color: white;
	text-shadow: -5px 2px 12px rgba(0, 255, 247, 0.584),
	5px -2px 20px rgba(213, 24, 194, 0.528);
}
.submitButton {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: var(--secondary-color);
	cursor: pointer;
	transition: background-color 0.4s ease;
}

.submitButton:hover {
	background-color: var(--secondary-color);
}
.submitButton:disabled {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.deleteButton {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #dc3545;
	color: rgb(0, 0, 0);
	cursor: pointer;
	transition: background-color 0.4s, color 0.4s;
	text-shadow: 5px 0px 5px rgba(67, 0, 0, 0.705);
	box-shadow: 2px 2px 10px red;
	font-size: 20px;
}
.deleteButton:disabled {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.deleteButton:hover {
	background-color: #c82333;
	color: #fff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border: 4px solid white;
	border-radius: 50px;
	background-color: var(--primary-color);
	box-shadow: -10px 4px 20px rgba(0, 255, 247, 0.5),
		10px -5px 40px rgba(213, 24, 194, 0.63);
	opacity: 0.95;
	font-size: 25px;
}

.header-left,
.header-right {
	display: flex;
	align-items: center;
}

.header-right{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: -10px 4px 20px rgba(0, 255, 247, 0.5),
		10px -5px 40px rgba(213, 24, 194, 0.63);
}

.header-button {
	margin-right: 10px;
	padding: 5px 10px;
	text-decoration: none;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.133);
	transition: background-color 0.4s, color 0.4s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	opacity: 1;
}

.header-button:hover {
	background-color:  var(--secondary-color);
	color:  var(--secondary-color);
}
.editLink {
	font-size: 25px;
	color:  rgb(255, 0, 217);
	text-shadow:
        -1px -1px 10px whitesmoke,
         1px -1px 10px whitesmoke,
        -1px  1px 10px whitesmoke,
         1px  1px 2px whitesmoke;
}
.editLink:visited {
	font-size: 25px;
	color:  rgb(255, 0, 225);
	text-shadow:
        -1px -1px 10px whitesmoke,
         1px -1px 10px whitesmoke,
        -1px  1px 10px whitesmoke,
         1px  1px 2px whitesmoke;
}
.editLink:hover:visited {
	color:  var(--secondary-color);
}
.edit-link-container {
    text-align: center;

}
.detLink {
	color:  var(--secondary-color);
	font-size: 20px;
	font-weight: 400;
}
.detLink:visited {
	color:  var(--secondary-color);
}
.detLink:hover:visited {
	color:  var(--secondary-color);
}

.linkToButton {
	margin-right: 10px;
	padding: 5px 10px;
	text-decoration: none;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.346);
	transition: background-color 0.4s, color 0.4s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.linkToButton:hover {
	background-color:  var(--secondary-color);

}

.detailsContainer {
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	padding: 20px;

}


.dets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: start;
    margin: 50px auto;
    width: 100%;
    max-width: 600px;
	background-color: var(--primary-color);
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: -10px 4px 50px rgba(0, 255, 247, 0.5), 10px -4px 50px rgba(213, 24, 194, 0.472);
    text-align: center;
}

.dets label {
	margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
	color:  black;
}

.dets p {
	font-size: 20px;
	margin-bottom: 15px;
	color:  black;
}
.detailsDesc {
	font-size: 25px;
	font-weight: bold;
	color:  black;
	margin: 5px 0;
}



.error-message {
	color: red;
	margin: 5px 0;
	font-size: 15px;
}
