<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style_form.css')}}"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

    <form action="/process" method="POST">
        <div class="col-md-6">
            <label type="text" for="name">Name: </label>
            <input type="text" name="name" id="name">
        </div>

        <div class="col-md-4">
            <label type="text" for="location">Dojo Location: </label>
            <select name="location" id="location">
                <option value="Bellevue">Bellevue</option>
                <option value="Burbank">Burbank</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
            </select>
        </div>


        <div class="mb-3">
            <label type="text" for="language">Favorite Language: </label>
            <select name="language" id="language">
                <option value="Python">Python</option>
                <option value="CSS">CSS</option>
                <option value="HTML">HTML</option>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option>
            </select>
        </div>


        <div class="mb-3">
            <label type="text" for="comment">Comment (optional):</label>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-link">Submit</button>
    </form>



</body>

</html>
