<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit car information!</h1>

    <form action="/car/update" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="make">Make:</label>
        <input type="text" name="make" id="make" value="{{car.make}}">
        <label for="model">Model:</label>
        <input type="text" name="model" id="model" value="{{car.model}}">
        <label for="year">Year:</label>
        <input type="number" name="year" id="year" value="{{car.year}}">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="{{car.price}}">
        <label for="description">Description:</label>
        <input type="text" name = "description" id = "description" value = "{{car.description}}">

        <input type="hidden" name="id" value="{{car.id}}">
        <input type="submit" value="Add User">
    </form>

</body>
</html>
