<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Users</title>
	</head>

	<body>
		<h1>All Users</h1>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last name</th>
					<th>Occupation</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for one_friend in friends %}
				<tr>
					<td>{{one_friend.first_name}}</td>
					<td>{{one_friend.last_name}}</td>
					<td>{{one_friend.occupation}}</td>
					<td><a href="/friends/update">Update</a></td>
					<td><a href="/user/{{one_friend.id}}/delete">Delete</a></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</body>
</html>
